<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


</head>


<body class="container">
    <div class="input-group mb-3">
        <input id="search-name" type="text" class="form-control" placeholder="Arıycağınız ismi giriniz"
            aria-label="Recipient's username">
        <button onclick="searchh(event)" class="btn btn-outline-danger" type="button" id="">Ara</button>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-12 d-flex mt-1 justify-content-center">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#directory"
                    onclick="modalShow(event)">
                    Kişi Ekleyiniz
                </button>
                <br><br>

            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Numara</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Soyadı</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Yaş</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody id="table-people">
                        <td colspan="7">
                            <center>Ürün Ekle</center>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert">
        Yağmur KARAMAN
    </div>

    <!-- Modal Başlangıç -->
    <div class="modal fade" id="directory" tabindex="-1" role="dialog" aria-labelledby="directory-modal-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="directory-modal-label">Rehber</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group row">
                            <label for="input-name" class="col-sm-2
                                    col-form-label">Adı</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-surname" class="col-sm-2
                                    col-form-label">Soyad</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-surname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-phone" class="col-sm-2
                                    col-form-label">Tel</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="input-phone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-yas" class="col-sm-2
                                    col-form-label">Yaş</label>
                            <div class="col-sm-10">
                                <input type="yas" class="form-control" id="input-yas">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Kapat</button>


                    <button type="button" id="islemler" onclick="save(event)"
                        class="btn btn-outline-success">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bittiiiğğğ -->



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../Public/js/script.js"></script>
</body>

</html>